.form-letter {
      
    font-family: "hanson-bold";
    font-size: 18px;
    color: #cfc9a1;
}

.form-button {
    
    display: flex;
    justify-content: center;
  }

#form-size {

    max-width: 60%;
    margin: auto;
    min-width: 300px;
 
}